body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: #B83838;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.header a{
  text-decoration: none;
  padding: 0 10px;
  color: #FFFFFF;
}

.main_section{
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 518px;
}

.main_section img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.border{
  height: 105px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: '. right';
  margin-top: -58px;
}

.corner{
  grid-area: right;
  background-color: #B83838;
  border-radius: 119px 0 0 119px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border .corner .tittle{
  font-size: 28px;
  color: #151517;
}

.border .corner span{
  font-size: 20px;
  margin: 0;
  color: #FFFFFF;
}

.border2{
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 10px 50px;
  grid-template-areas: '. .'
                       'left .';
}

.corner2{
  grid-area: left;
  width: 280px;
  background-color: #B83838;
  border-radius: 0 119px 119px 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border2 .corner2 span{
  font-size: 20px;
  color: #FFFFFF;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.arrow{
  background-color: #B83838;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.up, .down{
  height: 0;
  width: 13px;
  border: solid 1px #FFFFFF;
  background-color: #FFFFFF;
  transform: rotateZ(-45deg);
  transform-origin: left;
  margin: -2px
}

.down{
  transform: rotateZ(45deg);
  margin: -1px;
}

.up2, .down2{
  height: 0;
  width: 13px;
  border: solid 1px #FFFFFF;
  background-color: #FFFFFF;
  transform: rotateZ(-45deg);
  transform-origin: right;
  margin: -2px
}

.down2{
  transform: rotateZ(45deg);
  margin: -1px;
}

.products{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
}

.product{
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  margin: 25px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.prdcrownd{
  background-color: #059F9D;
}

.crownd{
  background-image: url('crownd.jpeg');
}

.prdsold{
  background-color: #059F43;
}

.sold{
  background-image: url('sold.png');
}

.prdeducapp{
  background-color: #7467C4;
}

.educapp{
  background-image: url('educapp.jpg');
}

.prdcustom{
  background-color: #1A1730;
}

.custom{
  background-image: url('custom.jpg');
}

.image_content{
  margin: 0 auto;
  text-align: center;
  width: 105px;
  height: 105px;
  background-size: cover;
  border-radius: 50%;
}

.main_button{
  padding: 10px;
  width: 111px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 0;
  background-color: #EEEAEA;
  font-size: 20px;
}

.content span{
  font-size: 14px;
}

.seemore{
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.seemore a{
  color: #059F9D;
}

.line{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 204px;
}

canvas{
  border: 2px solid #B83838;
  width: 80%;
  height: 0;
}

.aboutus{
  display: grid;
  grid-template-columns: 1fr 250px 0.5fr 600px 1fr;
  grid-template-areas: '. logo . desc .';
}

.description{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  grid-area: desc;
}

.aboutus img{
  grid-area: logo;
  height: 100%;
  width: 100%;
}

.contacts{
  display: grid;
  grid-template-columns: 20% 1fr 1fr 20%;
  grid-template-rows: 1fr 60px;
  grid-template-areas: '. contact form .';
}

.contact{
  grid-area: contact;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact span{
  color: #676161;
  font-size: 21px;
}

.contact_form{
  grid-area: form;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.info{
  width: 302px;
  padding: 8px;
  box-sizing: border-box;
  height: 24px;
  margin: 8px 0;
  border: 0;
  border-radius: 2px;
  background-color: #D4CDCD;
}

.comm{
  height: 68px;
}

.btn{
  width: 113px;
  height: 28px;
  border: 0;
  margin-top: 7px;
  background-color: #B83838;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 14PX;
  font-weight: 900;
}

.footer{
  background-color: #B83838;
  height: 195px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: 'media history'
                        '. special';
  align-items: center;
  color: #FFFFFF;
  font-size: 14px;
}

.media{
  grid-area: media;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media img{
  height: 80px;
  width: 80px;
  padding: 10px;
}

.history{
  grid-area: history;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.special{
  grid-area: special;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.special a{
  padding-right: 5px;
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 768px){

  .border{
    grid-template-columns: 1fr;
    grid-template-areas: 'right';
  }

  .corner{
    border-radius: 119px;
  }

  .border2{
    grid-template-rows: 25px 50px;
  }

  .right{
    display: none;
  }

  .product{
    width: 145px;
    margin: 25px 8px;
  }

  .aboutus{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'logo'
                         'desc';
  }

  .aboutus img{
    height: 75%;
    width: 75%;
    justify-self: center;
    align-self: center;
  }

  .contacts{
    grid-template-rows: 1fr 2fr 25px;
    grid-template-columns: 1fr;
    grid-template-areas: 'contact'
                         'form'
                         '.';
  }

  form{
    align-items: center;
  }

  .footer{
    height: auto;
    grid-template-rows: 50px 1fr 0.2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'media'
                         'history'
                         'special';
  }

  .media img{
    height: 25px;
    width: 25px;
  }

}
