body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html{
  scroll-behavior: smooth;
}

header{
  background-color: #B83838;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.header a{
  text-decoration: none;
  padding: 0 10px;
  color: #FFFFFF;
}

.main_section{
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 518px;
}

.main_section img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.border{
  height: 105px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: '. right';
  margin-top: -58px;
}

.corner{
  grid-area: right;
  background-color: #B83838;
  border-radius: 119px 0 0 119px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border .corner .tittle{
  font-size: 28px;
  color: #151517;
}

.border .corner span{
  font-size: 20px;
  margin: 0;
  color: #FFFFFF;
}

.border2{
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 10px 50px;
  grid-template-areas: '. .'
                       'left .';
}

.corner2{
  grid-area: left;
  width: 280px;
  background-color: #B83838;
  border-radius: 0 119px 119px 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border2 .corner2 span{
  font-size: 20px;
  color: #FFFFFF;
}

.right, .left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.left{
  grid-area: left;
}

.right{
  grid-area: right;
}

.arrow{
  border: 0;
  cursor: pointer;
  outline: none;
  background-color: #B83838;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.up, .down{
  height: 0;
  width: 13px;
  border: solid 1px #FFFFFF;
  background-color: #FFFFFF;
  transform: rotateZ(-45deg);
  transform-origin: left;
  margin: -2px
}

.down{
  transform: rotateZ(45deg);
  margin: -1px;
}

.up2, .down2{
  height: 0;
  width: 13px;
  border: solid 1px #FFFFFF;
  background-color: #FFFFFF;
  transform: rotateZ(-45deg);
  transform-origin: right;
  margin: -2px
}

.down2{
  transform: rotateZ(45deg);
  margin: -1px;
}

.products{
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: 10px 1fr 20px;
  grid-template-areas: '. . .'
                       'left product right'
                       '. . .';
}

.product_details{
  grid-area: product;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.product{
  grid-area: product;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  margin: 25px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.prdcrownd{
  background-color: #059F9D;
}

.crownd{
  background-image: url('crownd.jpeg');
}

.prdsold{
  background-color: #059F43;
}

.sold{
  background-image: url('sold.png');
}

.prdeducapp{
  background-color: #7467C4;
}

.educapp{
  background-image: url('educapp.jpg');
}

.prdcustom{
  background-color: #1A1730;
}

.custom{
  background-image: url('custom.jpg');
}

.image_content{
  margin: 0 auto;
  text-align: center;
  width: 105px;
  height: 105px;
  background-size: cover;
  border-radius: 50%;
}

.main_button{
  padding: 10px;
  width: 111px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 0;
  background-color: #EEEAEA;
  font-size: 15px;
  outline: none;
}

.main_button:active{
  transition: 0.1s;
  transform: scale(0.8);
}

.content span{
  font-size: 14px;
}

.seemore{
  display: none;
  /* display: grid;
  grid-template-columns: 8% 1fr 8%;
  grid-template-areas: '. seemore .' */
}

.seemore a{
  grid-area: seemore;
  color: #059F9D;
  justify-self: right;
}

.line{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 154px;
}

canvas{
  border: 2px solid #B83838;
  width: 80%;
  height: 0;
}

.aboutus{
  display: grid;
  grid-template-columns: 1fr 250px 0.5fr 600px 1fr;
  grid-template-areas: '. logo . desc .';
}

.description{
  padding: 10px;
  grid-area: desc;
}

.aboutus img{
  grid-area: logo;
  height: 100%;
  width: 50%;
  justify-self: center;
}

.contacts{
  display: grid;
  grid-template-rows: 0.5fr 1fr 25px;
  grid-template-areas: 'contact'
                       'media';
}

.contact{
  grid-area: contact;
  display: flex;
  justify-content: center;
}

.contact span{
  color: #676161;
  font-size: 21px;
}

.media{
  grid-area: media;
  display: flex;
  justify-content: center;
}

.media img{
  height: 50px;
  width: 50px;
  padding: 10px;
}

.footer{
  background-color: #B83838;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 12px;
  padding: 10px;
}

.history{
  grid-area: history;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.history a{
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 768px){

  .border{
    grid-template-columns: 1fr;
    grid-template-areas: 'right';
  }

  .corner{
    border-radius: 119px;
  }

  .border2{
    grid-template-rows: 25px 50px;
  }

  .right, .left{
    display: none;
  }

  .products{
    grid-template-columns: none;
    grid-template-rows: none;
  }

  .product{
    width: 145px;
    margin: 25px 8px;
  }

  .aboutus{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 'logo'
                         'desc';
    padding: 10px;
  }

  .aboutus img{
    width: 30%;
    justify-self: center;
    align-self: center;
  }

  .media img{
    height: 25px;
    width: 25px;
  }

  .footer{
    font-size: 10px;
  }
}
